In [1]:
#Dataframe operations
#Dataframe operations in pandas cover a wide range of functionalities for data manipulation and analysis

In [10]:
#Value count(): Counting the occurrences of unique value in a column.
import pandas as pd
data={'A':[11,23,36,44,57],'B':[57,44,36,23,11],'C':['Pineapple','Apple','Banana','orange','Apple']}
df=pd.DataFrame(data)
value_counts=df['C'].value_counts()
print(value_counts)

C
Apple        2
Pineapple    1
Banana       1
orange       1
Name: count, dtype: int64

In [14]:
#Apply(): Appling the function along the axis of dataframe.
import pandas as pd
data={'Number':[11,42,23,34,65]}
df=pd.DataFrame(data)
def string_to_int(x):
    return(x)
df['Number']=df['Number'].apply(string_to_int)
print(df['Number'])

0    11
1    42
2    23
3    34
4    65
Name: Number, dtype: int64

In [16]:
#unique(): Getting unique values in column.
import pandas as pd
data={'A':[11,23,37,11,23,37],'B':['x','y','z','x','y','z']}
df=pd.DataFrame(data)
unique_value_A=df['A'].unique()
print(unique_value_A)
unique_value_B=df['B'].unique()
print(unique_value_B)

[11 23 37]
['x' 'y' 'z']

In [18]:
#nunique(): Counting the number of unique value in column.
import pandas as pd
data={'A':[17,26,35,17,26,35],'B':['x','y','z','x','y','z']}
df=pd.DataFrame(data)
num_unique_A=df['A'].nunique()
print(num_unique_A)
num_unique_B=df['B'].nunique()
print(num_unique_B)

3
3

In [21]:
#Describe(): Generate descriptive statistics of the numerical columns in a DataFrame.
import pandas as pd
data={'A':[11,22,33,44,55],'B':[10,20,30,40,50]}
df=pd.DataFrame(data)
describe=df.describe()
print(describe)

               A          B
count   5.000000   5.000000
mean   33.000000  30.000000
std    17.392527  15.811388
min    11.000000  10.000000
25%    22.000000  20.000000
50%    33.000000  30.000000
75%    44.000000  40.000000
max    55.000000  50.000000

In [27]:
#sorting(): sort dataframe based on one or more colums.
import pandas as pd
data={'student':['Aniruddha','Rahul','Aakash','Om','Pratik'],'Maths':[95,80,75,60,90],'Phy':[85,70,72,65,80],'Chem':[88,75,75,69,85]}
df=pd.DataFrame(data)
sorted_df=df.sort_values(by='Maths',ascending=True)
print(sorted_df)

     student  Maths  Phy  Chem
3         Om     60   65    69
2     Aakash     75   72    75
1      Rahul     80   70    75
4     Pratik     90   80    85
0  Aniruddha     95   85    88

In [29]:
#Rank():indicating rank
import pandas as pd
data={'student':['Aniruddha','Rahul','Aakash','Om','Pratik'],'Score':[95,80,75,60,90]}
df=pd.DataFrame(data)
rank_df=df['Score'].rank(ascending= False)
print(rank_df)

0    1.0
1    3.0
2    4.0
3    5.0
4    2.0
Name: Score, dtype: float64