In [ ]:
#Python for loops
#for loop
#A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [2]:
#Example
fruits = ["mango", "banana","pineapple", "cherry"]
for x in fruits:
  print(x)

mango
banana
pineapple
cherry

In [13]:
#Example
cars = ["BMW", "Audi","Maruti","Benze"]
for a in cars:
  print(a)

BMW
Audi
Maruti
Benze

In [22]:
#The break Statement
#With the break statement we can stop the loop before it has looped through all the items:

In [25]:
#Example
fruits = ["apple", "banana", "cherry","mango","pineapple"]
for x in fruits:
  if x == "mango":
    break
  print(x)

apple
banana
cherry

In [28]:
#Example
friends = ["mauli", "mukunda", "ajinkya","nikhil","rohan"]
for x in friends:
  if x == "nikhil":
    break
  print(x)

mauli
mukunda
ajinkya

In [32]:
#Example
fruits = ["apple", "banana", "cherry","mango","pineapple"]
for x in fruits:
  print(x)
  if x == "cherry":
    break

apple
banana
cherry

In [34]:
#The continue Statement
#With the continue statement we can stop the current iteration of the loop, and continue with the next:

#Example
fruits = ["mango","orange","apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

mango
orange
apple
cherry

In [39]:
#Example
cars = ["BMW", "Audi","Maruti","Benze","mercedes"]
for x in cars:
  if x == "Benze":
    continue
  print(x)

BMW
Audi
Maruti
mercedes

In [40]:
#Nested Loops
#A nested loop is a loop inside a loop.
#The "inner loop" will be executed one time for each iteration of the "outer loop":

#Example
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry