In [1]:
# Identifying Missing values :Identify missing values in a DataFrame using the isna() method.

In [5]:
#Example
import pandas as pd 
data = {'A':[11,12,None,14],'B':[None,15,16,17]}
df=pd.DataFrame(data)
missing_values = df.isna()
print(missing_values)

       A      B
0  False   True
1  False  False
2   True  False
3  False  False

In [6]:
#Handling Missing values: remove rows or columns containing missing values using dropna() method.

In [8]:
#Example
import pandas as pd 
data = {'A':[11,12,None,14],'B':[None,15,16,17]}
df=pd.DataFrame(data)
a=df.dropna() #Remove rows with missing values
print(a)
b=df.dropna(axis=1) # Remove column with missing values
print(b)

      A     B
1  12.0  15.0
3  14.0  17.0
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [9]:
# Filling missing values : using fillna() method

In [22]:
#Example
import pandas as pd 
data = {'A':[11,12,None,14],'B':[None,15,16,17]}
df=pd.DataFrame(data)
df_filled = df.fillna(0) #fill with 0
print(df_filled )

      A     B
0  11.0   0.0
1  12.0  15.0
2   0.0  16.0
3  14.0  17.0

In [16]:
# fill missing values with mean
df_filled = df.fillna(df.mean()) # fill with mean of each column
print(df_filled )

           A     B
0  11.000000  16.0
1  12.000000  15.0
2  12.333333  16.0
3  14.000000  17.0

In [24]:
#fill missing values with median
df_filled = df.fillna(df.median())
print(df_filled)

      A     B
0  11.0  16.0
1  12.0  15.0
2  12.0  16.0
3  14.0  17.0