In [2]:
#Dataframe col,raw selection
#Example
import pandas as pd
data={'Name':['Aniruddha','sayali','Aakash','Neha','Pratik'],'Age':[25,30,28,35,40],'Gender':['M','F','M','F','M'],'City':['Sangali','Pune','Baramati','Mumbai','Satara']}
df=pd.DataFrame(data)

#selecting a single column
name_column = df['Name']
print(name_column)

#selecting a multiple columns
subset = df[['Name','Age']]
print(subset)

# selecting rows based on condition
subset_age_28plus = df[df['Age']> 28]
print(subset_age_28plus)

#selecting rows and columns using iloc ( index-based selection)
subset_iloc = df.iloc[1:3,0:2] #Rows 1 and 2, columns 0 and 1
print(subset_iloc)

##selecting rows and columns using loc ( label-based selection)
subset_loc = df.loc[1:3,['Name','Age']] #Rows 1 to 3, columns 'Name' and 'Age'
print(subset_loc)

0    Aniruddha
1       sayali
2       Aakash
3         Neha
4       Pratik
Name: Name, dtype: object
        Name  Age
0  Aniruddha   25
1     sayali   30
2     Aakash   28
3       Neha   35
4     Pratik   40
     Name  Age Gender    City
1  sayali   30      F    Pune
3    Neha   35      F  Mumbai
4  Pratik   40      M  Satara
     Name  Age
1  sayali   30
2  Aakash   28
     Name  Age
1  sayali   30
2  Aakash   28
3    Neha   35

In [12]:
# Conditional selection:
#Example
import pandas as pd
data={'Name':['Aniruddha','sayali','Aakash','Neha','Pratik'],'Age':[25,30,28,35,40],'Gender':['M','F','M','F','M'],'City':['Sangali','Pune','Baramati','Mumbai','Satara']}
df=pd.DataFrame(data)

#Filter rows where Age is greater than 28
a=df[df['Age']>28]
print(a)

#Filter rows where Gender is Male
b = df[df['Gender'] == 'M']
print(b)

#Combine multiple conditions using logical operators like & (AND) and  (OR)
c = df[(df['Gender'] == 'M') & (df['Age']> 28)]
print(c)

     Name  Age Gender    City
1  sayali   30      F    Pune
3    Neha   35      F  Mumbai
4  Pratik   40      M  Satara
        Name  Age Gender      City
0  Aniruddha   25      M   Sangali
2     Aakash   28      M  Baramati
4     Pratik   40      M    Satara
     Name  Age Gender    City
4  Pratik   40      M  Satara

In [15]:
#Query(): select row using query
#Example
import pandas as pd
data={'Name':['Aniruddha','sayali','Aakash','Neha','Pratik'],'Age':[25,30,28,35,40],'Gender':['M','F','M','F','M'],'City':['Sangali','Pune','Baramati','Mumbai','Satara']}
df=pd.DataFrame(data)
subset =df.query('Age>28')
print(subset)

     Name  Age Gender    City
1  sayali   30      F    Pune
3    Neha   35      F  Mumbai
4  Pratik   40      M  Satara

In [21]:
# Column add,delete,update:
#Example
# add new column C
import pandas as pd
data={'A':[11,13,15,17,19],'B':['a','b','c','d','e']}
df=pd.DataFrame(data)
df['C']=[2,4,6,8,10]
print(df)

    A  B   C
0  11  a   2
1  13  b   4
2  15  c   6
3  17  d   8
4  19  e  10

In [22]:
#Example
#delete column B
df=df.drop('B',axis=1)
print(df)

    A   C
0  11   2
1  13   4
2  15   6
3  17   8
4  19  10

In [24]:
#Example
#update values in column A
import pandas as pd
data={'A':[11,13,15,17,19],'B':['a','b','c','d','e']}
df=pd.DataFrame(data)
df['A']=[2,4,6,8,10]
print(df)

    A  B
0   2  a
1   4  b
2   6  c
3   8  d
4  10  e

In [26]:
#Index: To set a column as the index of the dataframe,use the set_index() function.
#Example
# Set column 'B' as the index
import pandas as pd
data={'A':[11,13,15,17],'B':['a','b','c','d']}
df = pd.DataFrame(data)
df.set_index('B',inplace= True)
print(df)

    A
B
a  11
b  13
c  15
d  17

In [29]:
#Removing Index :To remove the index and reset is to the default integer index,use the reset_index() function.
#Example
import pandas as pd
data={'A':[11,13,15,17],'B':['a','b','c','d']}
df = pd.DataFrame(data)
df.reset_index(inplace=True)
print(df)

   index   A  B
0      0  11  a
1      1  13  b
2      2  15  c
3      3  17  d

In [31]:
#Example
import pandas as pd
data={'A':[11,13,15,17],'B':['a','b','c','d']}
df = pd.DataFrame(data)
df.reset_index(drop=True,inplace=True)
print(df)

    A  B
0  11  a
1  13  b
2  15  c
3  17  d

In [33]:
#Operation:
#Adding using the add() method:
import pandas as pd
df1 = pd.DataFrame({'A':[11,12,13],'B':[14,15,16]})
df2 = pd.DataFrame({'A':[17,18,19],'B':[20,21,22]})
a=df1+df2
print(a)
b=df1.add(df2) # Alternative method
print(b)

    A   B
0  28  34
1  30  36
2  32  38
    A   B
0  28  34
1  30  36
2  32  38

In [35]:
#Subtracting using the sub() method:
import pandas as pd
df1 = pd.DataFrame({'A':[11,12,13],'B':[14,15,16]})
df2 = pd.DataFrame({'A':[17,18,19],'B':[20,21,22]})
c=df1-df2
print(c)
d=df1.sub(df2) # Alternative method
print(d)

   A  B
0 -6 -6
1 -6 -6
2 -6 -6
   A  B
0 -6 -6
1 -6 -6
2 -6 -6

In [37]:
#Multiplication using the mul() method:
import pandas as pd
df1 = pd.DataFrame({'A':[11,12,13],'B':[14,15,16]})
df2 = pd.DataFrame({'A':[17,18,19],'B':[20,21,22]})
e=df1*df2
print(e)
f=df1.mul(df2) # Alternative method
print(f)

     A    B
0  187  280
1  216  315
2  247  352
     A    B
0  187  280
1  216  315
2  247  352

In [38]:
# Division using the div() method
import pandas as pd
df1 = pd.DataFrame({'A':[11,12,13],'B':[14,15,16]})
df2 = pd.DataFrame({'A':[17,18,19],'B':[20,21,22]})
m=df1/df2
print(m)
n=df1.div(df2) # Alternative method
print(n)

          A         B
0  0.647059  0.700000
1  0.666667  0.714286
2  0.684211  0.727273
          A         B
0  0.647059  0.700000
1  0.666667  0.714286
2  0.684211  0.727273