In [ ]:
#DataFrames
#Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

#Series is like a column, a DataFrame is the whole table.

In [3]:
#Example
#Create a DataFrame from two Series:

import pandas as pd

data = {
  "calories": [470, 280, 690],
  "duration": [70, 45, 65]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       470        70
1       280        45
2       690        65

In [4]:
#Example
#Create a simple Pandas DataFrame:

import pandas as pd

data = {
  "calories": [470, 280, 690],
  "duration": [70, 45, 65]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       470        70
1       280        45
2       690        65

In [5]:
#Locate Row
#As you can see from the result above, the DataFrame is like a table with rows and columns.

#Pandas use the loc attribute to return one or more specified row(s)

#Example
#Return row 0:

#refer to the row index:
print(df.loc[1])
#use a list of indexes:
print(df.loc[[0, 1]])

calories    280
duration     45
Name: 1, dtype: int64
   calories  duration
0       470        70
1       280        45

In [6]:
#Named Indexes
#With the index argument, you can name your own indexes.

#Example
#Add a list of names to give each row a name:

import pandas as pd

data = {
  "calories": [470, 280, 690],
  "duration": [70, 45, 65]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       470        70
day2       280        45
day3       690        65

In [7]:
#Locate Named Indexes
#Use the named index in the loc attribute to return the specified row(s).

#Example
#Return "day2":

#refer to the named index:
print(df.loc["day2"])

calories    280
duration     45
Name: day2, dtype: int64

In [3]:
#Load Files Into a DataFrame
#If your data sets are stored in a file, Pandas can load them into a DataFrame.

#Example
#Load a comma separated file (CSV file) into a DataFrame:

import pandas as pd

df = pd.read_csv('C:/Users/Yeshwant/Desktop/AK.csv')

print(df)

     X   Y
0   12  45
1   23  32
2   36  62
3   53  52
4   42  32
5   62  65
6   53  68
7   23  88
8   32  56
9   12  66
10  21  64
11  25  35
12  36  25
13   5  12
14   5  45
15  36  25
16   2  36
17  32  32
18  12  21

In [ ]:
#Read CSV Files
#A simple way to store big data sets is to use CSV files (comma separated files).

#CSV files contains plain text and is a well know format that can be read by everyone including Pandas.

#In our examples we will be using a CSV file called 'data.csv'.

Download data.csv. or Open data.csv

In [4]:
#Example
#Load the CSV into a DataFrame:

import pandas as pd

df = pd.read_csv("C:/Users/Yeshwant/Desktop/AK.csv")

print(df.to_string())

     X   Y
0   12  45
1   23  32
2   36  62
3   53  52
4   42  32
5   62  65
6   53  68
7   23  88
8   32  56
9   12  66
10  21  64
11  25  35
12  36  25
13   5  12
14   5  45
15  36  25
16   2  36
17  32  32
18  12  21

In [5]:
#Example
#Print the DataFrame without the to_string() method:

import pandas as pd

df = pd.read_csv("C:/Users/Yeshwant/Desktop/AK.csv")

print(df)

     X   Y
0   12  45
1   23  32
2   36  62
3   53  52
4   42  32
5   62  65
6   53  68
7   23  88
8   32  56
9   12  66
10  21  64
11  25  35
12  36  25
13   5  12
14   5  45
15  36  25
16   2  36
17  32  32
18  12  21

In [6]:
#max_rows
#The number of rows returned is defined in Pandas option settings.

#You can check your system's maximum rows with the pd.options.display.max_rows statement.

#Example
#Check the number of maximum returned rows:

import pandas as pd

print(pd.options.display.max_rows)

60

In [7]:
#Example
#Increase the maximum number of rows to display the entire DataFrame:

import pandas as pd

pd.options.display.max_rows = 9999

df = pd.read_csv("C:/Users/Yeshwant/Desktop/AK.csv")

print(df)

     X   Y
0   12  45
1   23  32
2   36  62
3   53  52
4   42  32
5   62  65
6   53  68
7   23  88
8   32  56
9   12  66
10  21  64
11  25  35
12  36  25
13   5  12
14   5  45
15  36  25
16   2  36
17  32  32
18  12  21

In [3]:
#Read_xlsx
#Example
#Load the xlsx into a DataFrame:

import pandas as pd

df = pd.read_excel('C:/Users/Yeshwant/Desktop/AG.xlsx')
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       0.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       0.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       0.0
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       0.0
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       0.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [3]:
#Example
#Print the DataFrame without the to_string() method:

import pandas as pd

df = pd.read_excel("C:/Users/Yeshwant/Desktop/AG.xlsx")

print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [4]:
#Example
#Increase the maximum number of rows to display the entire DataFrame:

import pandas as pd

pd.options.display.max_rows = 9999

df = pd.read_excel("C:/Users/Yeshwant/Desktop/AG.xlsx")

print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       0.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       0.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       0.0
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       0.0
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       0.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [5]:
#Data frame creat using matrix
#You can create a DataFrame using a matrix (a 2-dimensional array) in Pandas by passing the matrix to the pd.DataFrame() constructor. Here's an example:
#Example
import pandas as pd

# Define a 2x3 matrix
matrix_data = [
    [11, 32, 23],
    [24, 15, 36]
]

# Create a DataFrame from the matrix
df = pd.DataFrame(matrix_data)

print(df)

    0   1   2
0  11  32  23
1  24  15  36

In [6]:
#Custom Row and Column Labels:

import pandas as pd

data = [
    [12, 62, 43],
    [24, 15, 36],
    [87, 28, 39]
]
row_labels = ['Row1', 'Row2', 'Row3']
col_labels = ['A', 'B', 'C']

df = pd.DataFrame(data, index=row_labels, columns=col_labels)
print(df)

       A   B   C
Row1  12  62  43
Row2  24  15  36
Row3  87  28  39

In [7]:
#Mixed Data Types:

import pandas as pd

data = [
    [1, 'P', False],
    [2, 'Q', False],
    [3, 'R', True]
]

df = pd.DataFrame(data, columns=['Number', 'Letter', 'Boolean'])
print(df)

   Number Letter  Boolean
0       1      P    False
1       2      Q    False
2       3      R     True

In [8]:
#DataFrame with MultiIndex:

import pandas as pd

data = {
    ('A', 'X'): [11, 32, 23],
    ('A', 'Y'): [84, 25, 36],
    ('B', 'X'): [17, 38, 49]
}

df = pd.DataFrame(data)
print(df)

    A       B
    X   Y   X
0  11  84  17
1  32  25  38
2  23  36  49

#Data frame creat using disctionary
#Creating a DataFrame using a dictionary in pandas is a straightforward process.

In [9]:
#DataFrame with Dictionaries
#Exampole
data = {
    'Name': {0: 'Rahul', 1: 'Akash', 2: 'Aniruddha'},
    'Age': {0: 22, 1: 25, 2: 23}
}

df = pd.DataFrame(data)
print(df)

        Name  Age
0      Rahul   22
1      Akash   25
2  Aniruddha   23

In [10]:
#Example 
#DataFrame with Nested Dictionaries
data = {
    'Name': {0: 'Rahul', 1: 'Akash'},
    'Details': {0: {'Age': 25, 'City': 'Pune'}, 1: {'Age': 30, 'City': 'Baramati'}}
}

df = pd.DataFrame(data)
print(df)

    Name                          Details
0  Rahul      {'Age': 25, 'City': 'Pune'}
1  Akash  {'Age': 30, 'City': 'Baramati'}

In [12]:
#DataFrame with Mixed Data Types

data = {
    'ID': [1, 2, 3, 4],
    'Name': ['Rahul', 'Akash', 'Aniruddha', 'Ajay'],
    'Salary': [50000.00, 60000.50, 70000.75, 80000.00],
    'Full_Time': [True, False, False, True]
}

df = pd.DataFrame(data)
print(df)

   ID       Name    Salary  Full_Time
0   1      Rahul  50000.00       True
1   2      Akash  60000.50      False
2   3  Aniruddha  70000.75      False
3   4       Ajay  80000.00       True

In [13]:
#DataFrame with DateTime Data

data = {
    'Date': pd.to_datetime(['2024-05-9', '2024-06-5', '2024-06-11']),
    'Temperature': [32.4, 46.0, 62.5]
}

df = pd.DataFrame(data)
print(df)

        Date  Temperature
0 2024-05-09         32.4
1 2024-06-05         46.0
2 2024-06-11         62.5

In [14]:
#Example
#DataFrame from a List of Dictionaries

data = [
    {'Name': 'Rahul', 'Age': 25, 'City': 'Pune'},
    {'Name': 'Akash', 'Age': 20, 'City': 'Baramati'},
    {'Name': 'Ajay', 'Age': 29, 'City': 'Lonand'}
]

df = pd.DataFrame(data)
print(df)

    Name  Age      City
0  Rahul   25      Pune
1  Akash   20  Baramati
2   Ajay   29    Lonand